---
---
// External
@import 'external/reset';
@import 'external/solarized-dark';

// Base
@import 'base/variables';
@import 'base/global';
@import 'base/utility';

// Posts
@import 'layouts/posts';
@import 'layouts/index';

// Partials
@import 'includes/header';
@import 'includes/footer';

.center {
	text-align: center;
}

img[alt=pic1] {
	width: 400px;
	text-align: center
}

img[alt=pic2] {
	height: 300px;
	text-align: center
}